@model IEnumerable<com.pathshala.Models.Grade>

@{
    ViewBag.Title = "Schools & Grades";
}

<div class="row">
    <div class="col-sm">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-sm text-right">
        @*@Html.ActionLink("+ Create New", "Create")*@

        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        @*<a class="btn btn-primary" href="/Teacher/Create" role="button"><span class="glyphicons glyphicon-plus"></span> Create New</a>*@
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>
            #
        </th>
        <th>
            School
        </th>
        <th>
            Grade
        </th>
        <th>
            Assigned Teacher
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
           


        </td>
        <td>
            <!-- Grade Display Name from lookup table-->
            @Html.DisplayFor(modelItem => item.Lookup.Display)
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Person.DisplayFullName)
        </td>
        <td class="text-right">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        </td>
    </tr>
}

</table>
