@model IEnumerable<com.pathshala.Models.Student>

@{
    ViewBag.Title = "Students";
}

<div class="row">
    <div class="col-sm">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-sm text-right">
        @Html.ActionLink(" Create New", "Create", null, new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th>
            #
        </th>
        <th>
           First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            School
        </th>
        <th>
            Date Of Birth
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.School.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td class="text-right">
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-primary btn-sm" })
        </td>
    </tr>
    }

</table>
